* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header ul, a {
  margin: 20px;
  display: flex;
  gap: 20px;
  justify-content: right;
  color: black;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 80px;
  margin: 15px;
}

.headerLogo {
  width: 200px;
  margin-left: 20px;
  margin-top: 10px;
  height: 55%;
}

.btnHeader {
  background-color: #00c853;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.sectionPrincipal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  width: 80%;
  margin: auto;
}

h1 {
  width: 90%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 60px;
  line-height: 130%;
  letter-spacing: 0%;
}

.pPrincipal {
  width: 80%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: Normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 20px;
}

.btndoar {
  background-color: #16A34A;
  color: white;
  border: none;
  padding: 18px 42px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
}

.btnadquirir {
  background-color: #ffffff;
  color: #2563EB;
  border: 2px solid #2563EB;
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.imagemPrincipal {
  width: 50%;
}

.beneficiados {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 184px;
  width: 80%;
  margin: auto;
  background: #F3F5F8;
  width: 100%;
}
.beneficiados h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: #16A34A;
}
.beneficiados p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #374151;
}

.comoFunciona h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: #111827;
  margin-top: 30px;
  margin: 50px;
}
.comoFunciona h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #1F2937;
  margin-top: 10px;
  margin: 50px;
}

.footer {
  background: #1F2937;
  color: #fff;
  padding: 40px 20px 20px;
  font-family: "Montserrat", sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.footer-logo img {
  width: 50px;
  margin-bottom: 10px;
}

.footer-logo h2 {
  font-size: 1.5rem;
}

.footer-links,
.footer-social, .footer-suporte {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links a,
.footer-social a, .footer-suporte a {
  color: #9CA3AF;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover,
.footer-social a:hover {
  color: #00c853;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9rem;
  opacity: 0.7;
}/*# sourceMappingURL=style.css.map */